* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: auto;
    margin: auto;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://www.scuderiapacifica.com/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    position: relative
}

.nav-area {
    text-align: center;
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.logo {
    float: left;
}

.logo img {
    width: 100%;
    padding: 15px 0;
}

.welcome-text {
    width: 60vw;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.welcome-text b1 {
    color: #fff;
    font-size: 2.5vh;
}

.welcome-text b1 span {
    color: #00d9ff;
}

.welcome-text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 5.9vh;
}

.welcome-text h1 span {
    color: #00d9ff;
}

.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: #333;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

/*resposive*/

@media (max-width:600px) {

    .logo {
        float: none;
        width: 50%;
        text-align: center;
        margin: auto;
    }

    img {
        width: 50%;
    }

    .welcome-text {
        width: 100%;
        height: auto;
        margin: 30% 0;
    }

    .welcome-text h1 {
        font-size: 30px;
    }

    .welcome-text {
        width: 95vw;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        text-align: center;
    }

    .welcome-text h1 {
        font-size: 5vh;
    }

    .welcome-text b1 {
        font-size: 2vh;
    }

    .nav-area {
        float: right;
        list-style: none;
        margin-top: 1px;

    }
    
    .nav-area-menu{
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgb(0,0,0);
        display: none;
    }

    .nav-area li {
        display: inline-block;
    }
    
    .nav-area li a {
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        font-family: poppins;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .nav-area li a:hover {
        background: #fff;
        color: #333;
    }

    #content-desktop {display: none;}
    #content-mobile {display: block;}
}