body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("background.png");
    background-size: cover;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

.header img {
    max-width: 100%;
    max-height: 3vh;
    display: block;
}

.header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 2vh;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 3vh;
    font-weight: bold;
}

.header a:hover {
    background-color: #fff;
    color: #233dff;
}

.header-right {
    float: right;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text h1 {
    color: #fff;
    font-size: 5vh;
}

.text h1 blue {
    color: #233dff;
}

.text h1 yellow {
    color: #ffcc00;
    ;
}

.text b1 {
    color: #fff;
    font-size: 3vh;
}

.text b1 blue {
    color: #233dff;
}

.text b1 yellow {
    color: #ffcc00;
}