body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    position: relative;
    margin: 0%;
    height: auto;
    /* overflow: hidden; */
}

background {
    position: relative;
    /* TODO: move to a different style element */
    background-color: #01050a;
    display: block;
    height: 100vh;
    width: 100%;
}

img1 {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://www.scuderiapacifica.org/images/background.png"); */
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

img2 {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://www.scuderiapacifica.org/images/background.png"); */
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.fixed {
    transition-property: background-color;
    transition-duration: 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 1;
}

.topbar {
    background-color: #000;
}

.header img {
    max-width: 100%;
    max-height: 20px;
}

.header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 5px;
}

.header a:hover {
    background-color: #fff;
    color: #233dff;
}

.header-right {
    float: right;
    padding-right: 5px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%;
}

.text img {
    max-width: 100%;
    max-height: 15vh;
    display: block;
}

.text a {
    padding: 20px 10px;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
    line-height: 25px;
    display: inline-block;
    border: 1px solid #fff;
}

.text a:hover {
    background-color: #fff;
    color: #000;
}

.text h1 {
    color: #fff;
    font-size: 30px;
}

.text h1 blue {
    color: #233dff;
}

.text h1 yellow {
    color: #ffcc00;
}

.text b1 {
    color: #fff;
    font-size: 25px;
}

.text b1 blue {
    color: #233dff;
}

.text b1 yellow {
    color: #ffcc00;
}